body {
	height: 800px;
}





.container {
	padding-top: 10px;
	display: grid;
	gap: 0px;
	grid-template-areas:
		"header    header"
		"nav-main  sidebar-article"
		"text-main sidebar-article";
	/* grid-template-rows:; */
	grid-template-columns: 2fr 1fr;
}





.header {
	background: #0954d3;
	color: white;
	border-bottom: 1px solid #e6e6e6;
	grid-area: header;
	font-size: 2.5em;
	box-shadow: 0px 7px 11px -8px rgba(100, 100, 100, 0.92);
	box-sizing: border-box;
}





.top-head {
	padding: 18px 35px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tophead-1st-block p {
	margin: 2px 0 5px;
}

.tophead-1st-block {
	width: 42%;

}

.limited-time {
	width: 100;
}

.limited-time-p {
	font-size: 0.3em;
	color: #ceddf6;
}

.percent-flex {
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.fifty-perc-off {
	font-size: 0.7em;
}

.upgrade_btn {
	border: none;
	border-radius: 4px;
	font-size: 0.42em;
	font-weight: bold;
	background: whitesmoke;
	padding: 5px 25px;
	color: #0854d3;
	font-family: Helvetica, 'FontAwesome', sans-serif;
	font-style: normal;

}

.upgrade_btn i {
	color: #CDAF69;
}

.counter {
	font-size: 0.7em;
	display: flex;
	width: 36%;
	justify-content: space-between;
}

.offer {
	padding-top: 16px;
}

.offer-ends-text {
	font-size: 0.8em;
	color: #ceddf6;
}

.counter-inner-flex {
	display: flex;
	align-items: center;
}

.counter p {
	margin: 0;
	text-align: center;
}

.counter-numbers {
	letter-spacing: 5px;
	margin: 0 15px;
}

.number-1 {
	margin-right: 4px;
}

.counter-each-number {
	padding-right: 2px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 1.3em;
	color: #0854d3;
	border-radius: 2px;
	background: linear-gradient(rgba(236, 234, 234, 1) 50%, rgba(255, 243, 236, 1) 50%);
}

.hrs-min-sec {
	font-size: 0.6em;
}

.bottom-head {
	padding: 20px 35px;
	color: black;
	background: white;
	font-size: 0.6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.a-icon {
	font-size: 1.1em;
}

.search-form {
	font-family: Helvetica, 'FontAwesome', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 0.8em;
	width: 45%;
	background: #eeeeee;
	border: none;
	border-radius: 3px;
	padding: 7px;
}

.mentions-tools-field {
	text-align: center;
	color: #7f7888;
	font-size: 0.8em;
}

.mentions-tools-field p {
	margin: 0;
}

.premium_btn {
	color: white;
	font-family: Helvetica, 'FontAwesome', sans-serif;
	font-style: normal;
	background: #0645b1;
	padding: 17.2px;
	border: none;
	border-radius: 8px;
	font-size: 0.8em;
}

.premium_btn i {
	color: #E5B1C1;
}

.user_btn {
	background: #e4ebf7;
	padding: 10px 0px;
	border: none;
	border-radius: 4px;
	font-size: 0.8em;
	color: #0954d3;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	width: 9%;
	justify-content: space-evenly;
}

.background_user_jpg {
	width: 35px;
	height: 35px;
	border: 0.1px solid #0954d3;
	background-image: url("../img/author.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170%;
	border-radius: 20px;
}

.user_btn img {
	height: 30px;
	width: 50px;
}

.user_btn i {
	color: #DDA198;
}

.user_btn p {
	margin: 0;
}





.nav-main {
	grid-area: nav-main;
	font-size: 1.5em;
}

.nav-main p {
	margin: 7px;
}

.main-text-block {
	padding: 3% 4%;
}

.nekropol-text {
	font-size: 1.2em;
	letter-spacing: 0.5px;
}

.label-avatar-flex {
	display: flex;
	align-items: center;
	font-size: 0.8em;
	margin-top: 20px;
}

.avatar_img_2 {
	background-image: url("../img/obama.jpg");
	width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	border-radius: 50%;
	margin-right: 10px;
}

.txt_blck_flex-1 {
	display: flex;
	align-items: center;
	font-size: 0.7em;
}

.txt_blck_flex-1 p {
	margin-right: 10px;
}

.txt_blck_flex-1 p:first-child {
	margin-left: 0;
}

.txt_blck_flex-1 i {
	font-size: 0.9em;
}


.burial_customs {
	font-size: 0.8em;
}

.burial_customs i {
	font-size: 0.9em;
	margin-right: 2px;
}

.nav-main-buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.download_pdf_btn {
	color: white;
	font-size: 0.8em;
	background: #0954d3;
	border-radius: 3px;
	padding: 12px 17px;
	border: none;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.download_pdf_btn i {
	font-size: 0.8em;
	margin-right: 5px;
}

.three-buttns-left {
	border: none;
	border-radius: 3px;
	font-size: 0.8em;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
	color: #125ad4;
	background: #edeff8;
	padding: 12px 17px;
}

.nav-lock-svg {
	color: #cdaf69;
	margin-right: 5px;
}





.text-main {
	grid-area: text-main;
	margin-top: 50px;
}

.seven-divs {
	display: flex;
	align-items: center;
	max-height: 150px;
	overflow: hidden;
}

.seven-divs div {
	display: flex;
	align-items: center;
	font-size: 1.3em;
	height: 40px;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.empty_div {
	width: 10%;
}

.empty_div_1 {
	width: 3.6%;
	border-bottom: 4px solid #e6edfa;
	padding-bottom: 20px;
}

.original_pdf_text {
	border-top: 4px solid #e6edfa;
	border-left: 4px solid #e6edfa;
	border-right: 4px solid #e6edfa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 30px;
	background: #f3f4fa;
}

.twelve_min {
	margin-left: 15px;
	font-size: 0.7em;
	color: #8590af;
}

.empty_div_2 {
	width: 2%;
	border-bottom: 4px solid #e6edfa;
	padding-bottom: 20px;
}

.summary-text {
	border-top: 2px solid #e6edfa;
	border-left: 2px solid #e6edfa;
	border-right: 2px solid #e6edfa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 4px solid #e6edfa;
	padding: 10px 70px 8px;
}

.summary-text i {
	color: #cdaf69;
	margin-right: 10px;
}

.summary_related_text {
	color: #525252;
}

.empty_div_3 {
	width: 2%;
	border-bottom: 4px solid #e6edfa;
	padding-bottom: 20px;
}

.related-text {
	border-top: 2px solid #e6edfa;
	border-left: 2px solid #e6edfa;
	border-right: 2px solid #e6edfa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 4px solid #e6edfa;
	padding: 10px 90px 8px;
}

.empty_div_4 {
	width: 11%;
	border-bottom: 4px solid #e6edfa;
	padding-bottom: 20px;
}





.outer-bckgrnd {
	background: #f3f4fa;
	padding: 25px 30px 25px;
}

.main-nekropol-text {
	background: white;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
}

.nekropol_img_text_field {
	display: flex;
	align-items: center;
}

.background-branch-img {
	background-image: url("../img/nekropol.jpg");
	height: 160px;
	width: 220px;
	border-right: 1px solid black;
	background-repeat: no-repeat;
}

.nekropol_pre_txt {
	font-size: 1.2em;
	color: #5c595a;
	margin-left: 10px;
}

.nekropol {
	border-bottom: 0.5px solid #5c595a;
	width: 80%;
	text-align: center;
	padding-top: 40px;
}

.enakin {
	color: #7e93aa;
	padding-top: 30px;
}

.nekropol_title_div {
	width: 100%;
}

.nekropol_title_p {
	padding: 20px 20px 30px 0;
	margin: 0;
	font-size: 3em;
	text-align: end;
	color: #b82924;
}

.nikropol_about {
	display: flex;
	justify-content: space-evenly;
}

.nikropol_img {
	background-image: url("../img/nikropol.jpg");
	width: 400px;
	height: 400px;
	background-repeat: no-repeat;
	border: 1px solid black;
	background-size: 110%;
	background-position: 50%;
}

.nikropol_about_text {
	width: 40%;
	text-align: justify;
}

.letter-i {
	font-size: 3em;
	color: #f5821f;
	float: left;
	padding: 0;
	margin-right: 7px;
}

.Kyiv_nekrop {
	font-size: 0.9em;
	text-align: end;
}

.footer_nekropol {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
	color: grey;
}

.mhm {
	width: 30%;
	display: flex;
	align-items: center;
}

.bcgrnd_gay {
	background-color: #dbdedf;
	width: 50%;
	color: transparent;
	margin-right: 25px;
}

.footer_nekropol:last-child {
	margin-right: 40px;
}





.sidebar-article {
	grid-area: sidebar-article;
	border-left: 1px solid #e6e6e6;
	padding: 0px;
}

.sidebar-articles-general {
	min-height: 100px;
	border-bottom: 1px solid #e6e6e6;
	margin-left: 10px;
	margin-bottom: 10px;
	color: #777777;
}

.about-author {
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 10px 0 7px 0;
	border-bottom: 1px solid #e6e6e6;
	font-size: 0.9em;
	letter-spacing: 0.1px;
}

.about-author p {
	margin: 0;
}

.sidebar-article-1 {
	background: white;
	padding-right: 5px;
}

.article-1-flex-1 {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.avatar-img {
	border: 1px solid #0954d3;
	background-image: url("../img/obama.jpg");
	width: 22%;
	height: 110px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	border-radius: 50%;
	margin-right: 10px;
}

.avatar-info p {
	margin-bottom: 4px;
}

.avatar-info p:first-child {
	font-size: 1.2em;
}

.article-1-flex-2 {
	display: flex;
	justify-content: space-between;
}

.papers-followers-flex {
	display: flex;
	font-size: 0.8em;
}

.papers-followers {
	border-right: 0.1px solid #e6e6e6;
}

.papers-followers p {
	margin: 5px;
	padding: 2px 5px;
}

.followers-298 p {
	margin: 5px;
	padding: 2px 5px;
}

.followers-bigger-p {
	font-size: 1.4em;
	color: black;
}

.papers-followers-flex-2 {
	display: flex;
}

.follow-btn {
	margin-right: 20px;
	background: #f0f1f9;
	border: none;
	border-radius: 30px;
	width: 100px;
	color: #0854d3;
	font-size: 1.1em;
}

.message-icon {
	color: #286ad8;
}

.msg-btn {
	border: none;
	background: #f0f1f9;
	border-radius: 30px;
	width: 60px;
}

.article-1-flex-3 {
	display: flex;
	justify-content: space-between;
}

.article-1-flex-3 p {
	margin-bottom: 5px;
}

.view-all {
	color: #0854d3;
	display: flex;
	align-items: center;
	margin-right: 7px;
}

.carret-right-icon {
	color: #0854d3;
	margin-left: 5px;
}

.stricoza-p {
	color: black;
}

.article-2-flex {
	display: flex;
}

.article-2-paragraphs {
	width: 70%;
}

.icon-options-art-2 {
	margin-left: 10px;
}

.article-2-black-p {
	color: black;
	font-size: 1.2em;
}

.article-2-paragraphs p {
	margin: 10px 0;
}

.article-2-block {
	margin-bottom: 5px;
	font-size: 0.9em;
}

.article-3-flex {
	display: flex;
}

.article-3-paragraphs {
	width: 70%;
}

.article-3-flex img {
	margin-top: 5px;
}

.article-3-black-p {
	color: black;
	font-size: 1.2em;
}

.article-3-paragraphs p {
	margin: 10px 0;
}

.sidebar-article-3 {
	margin-bottom: 0;
}

.article-bckgrd-img {
	background-image: url("../img/article-2.jpg");
	height: 140px;
	width: 120px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}