body {
	height: 800px;
}

.container {
	padding-top: 10px;
	display: grid;
	gap: 40px;
	grid-template-areas:
		"header    header"
		"nav-main  sidebar-article"
		"text-main sidebar-article";
	/* grid-template-rows:; */
	grid-template-columns: 2fr 1fr;
}




.header {
	background: #0954d3;
	color: white;
	border-bottom: 1px solid #e6e6e6;
	grid-area: header;
	font-size: 2.5em;
	box-shadow: 0px 7px 11px -8px rgba(100, 100, 100, 0.92);
	box-sizing: border-box;
}


.top-head {
	padding: 18px 35px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tophead-1st-block p {
	margin: 2px 0 5px;
}

.tophead-1st-block {
	width: 42%;

}

.limited-time {
	width: 100;
}

.limited-time-p {
	font-size: 0.3em;
	color: #ceddf6;
}

.percent-flex {
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.fifty-perc-off {
	font-size: 0.7em;
}

.upgrade_btn {
	border: none;
	border-radius: 4px;
	font-size: 0.42em;
	font-weight: bold;
	background: whitesmoke;
	padding: 5px 25px;
	color: #0854d3;
	font-family: Helvetica, 'FontAwesome', sans-serif;
	font-style: normal;

}

.upgrade_btn i {
	color: #CDAF69;
}

.counter {
	font-size: 0.7em;
	display: flex;
	width: 36%;
	justify-content: space-between;
}

.offer {
	padding-top: 16px;
}

.offer-ends-text {
	font-size: 0.8em;
	color: #ceddf6;
}

.counter-inner-flex {
	display: flex;
	align-items: center;
}

.counter p {
	margin: 0;
	text-align: center;
}

.counter-numbers {
	letter-spacing: 5px;
	margin: 0 15px;
}

.number-1 {
	margin-right: 4px;
}

.counter-each-number {
	padding-right: 2px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 1.3em;
	color: #0854d3;
	border-radius: 2px;
	background: linear-gradient(rgba(236, 234, 234, 1) 50%, rgba(255, 243, 236, 1) 50%);
}

.hrs-min-sec {
	font-size: 0.6em;
}





.bottom-head {
	padding: 20px 35px;
	color: black;
	background: white;
	font-size: 0.6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.a-icon {
	font-size: 1.1em;
}


.search-form {
	font-family: Helvetica, 'FontAwesome', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 0.8em;
	width: 45%;
	background: #eeeeee;
	border: none;
	border-radius: 3px;
	padding: 7px;
}


.mentions-tools-field {
	text-align: center;
	color: #7f7888;
	font-size: 0.8em;
}

.mentions-tools-field p {
	margin: 0;
}


.premium_btn {
	color: white;
	font-family: Helvetica, 'FontAwesome', sans-serif;
	font-style: normal;
	background: #0645b1;
	padding: 17.2px;
	border: none;
	border-radius: 8px;
	font-size: 0.8em;
}

.premium_btn i {
	color: #E5B1C1;
}


.user_btn {
	background: #e4ebf7;
	padding: 10px 0px;
	border: none;
	border-radius: 4px;
	font-size: 0.8em;
	color: #0954d3;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	width: 9%;
	justify-content: space-evenly;
}


.background_user_jpg {
	width: 35px;
	height: 35px;
	border: 0.1px solid #0954d3;
	background-image: url("../img/author.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170%;
	border-radius: 20px;
}

.user_btn img {
	height: 30px;
	width: 50px;
}

.user_btn i {
	color: #DDA198;
}

.user_btn p {
	margin: 0;
}










.nav-main {
	background: #e6e6e6;
	grid-area: nav-main;
	font-size: 1.5em;
}

.nav-main p {
	margin: 7px;
}













.text-main {
	background: #e6e6e6;
	grid-area: text-main;
}

















.sidebar-article {
	grid-area: sidebar-article;
	border-left: 1px solid #e6e6e6;
	padding: 0px;
}

.sidebar-articles-general {
	min-height: 100px;
	border-bottom: 1px solid #e6e6e6;
	margin-left: 10px;
	margin-bottom: 10px;
	color: #777777;
}

.about-author {
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 10px 0 7px 0;
	border-bottom: 1px solid #e6e6e6;
	font-size: 0.9em;
	letter-spacing: 0.1px;
}

.about-author p {
	margin: 0;
}


.sidebar-article-1 {
	background: white;
	padding-right: 5px;
}

.article-1-flex-1 {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.avatar-img {
	border: 1px solid #0954d3;
	background-image: url("../img/obama.jpg");
	width: 22%;
	height: 110px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	border-radius: 50%;
	margin-right: 10px;
}


.avatar-info p {
	margin-bottom: 4px;
}

.avatar-info p:first-child {
	font-size: 1.2em;
}

.article-1-flex-2 {
	display: flex;
	justify-content: space-between;
}

.papers-followers-flex {
	display: flex;
	font-size: 0.8em;
}

.papers-followers {
	border-right: 0.1px solid #e6e6e6;
}

.papers-followers p {
	margin: 5px;
	padding: 2px 5px;
}

.followers-298 p {
	margin: 5px;
	padding: 2px 5px;
}

.followers-bigger-p {
	font-size: 1.4em;
	color: black;
}

.papers-followers-flex-2 {
	display: flex;
}

.follow-btn {
	margin-right: 20px;
	background: #f0f1f9;
	border: none;
	border-radius: 30px;
	width: 100px;
	color: #0854d3;
	font-size: 1.1em;
}

.message-icon {
	color: #286ad8;
}

.msg-btn {
	border: none;
	background: #f0f1f9;
	border-radius: 30px;
	width: 60px;
}

.article-1-flex-3 {
	display: flex;
	justify-content: space-between;
}

.article-1-flex-3 p {
	margin-bottom: 5px;
}

.view-all {
	color: #0854d3;
	display: flex;
	align-items: center;
	margin-right: 7px;
}

.carret-right-icon {
	color: #0854d3;
	margin-left: 5px;
}

.stricoza-p {
	color: black;
}

.article-2-flex {
	display: flex;
}

.article-2-paragraphs {
	width: 70%;
}

.icon-options-art-2 {
	margin-left: 10px;
}

.article-2-black-p {
	color: black;
	font-size: 1.2em;
}

.article-2-paragraphs p {
	margin: 10px 0;
}

.article-2-block {
	margin-bottom: 5px;
	font-size: 0.9em;
}

.article-3-flex {
	display: flex;
}

.article-3-paragraphs {
	width: 70%;
}

.article-3-flex img {
	margin-top: 5px;
}

.article-3-black-p {
	color: black;
	font-size: 1.2em;
}

.article-3-paragraphs p {
	margin: 10px 0;
}

.sidebar-article-3 {
	margin-bottom: 0;
}

.article-bckgrd-img {
	background-image: url("../img/article-2.jpg");
	height: 140px;
	width: 120px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}